.navBar.MuiAppBar-root {
  background-color: rgb(139, 226, 139) !important;
}

.buttonPage.MuiButton-root {
  display: block;
  margin: 16px 0;
  color: white;
}

.logoNovaLux {
  width: 162px;
  height: 80px;
}

.logoContainer {
  margin-right: 8px;
  flex-grow: 1;
}